# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
*.log

# Dataset and models
dataset/
*.yml
*.h5
*.pkl
*.ckpt

# Node/JS
node_modules/
dist/
build/
.npm/
.yarn/
.pnpm-debug.log

docs/

# OS
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Env files
.env
.env.*
.venv/

# Misc
*.bak
*.swp
*.tmp